<div class="products-table">
  <%= render(partial: 'products', collection: @products) %>
</div>

<% unless @products.current_page == @products.total_pages %>
  <p id="view-more">
    <%= link_to('View More', url_for(page: @products.current_page + 1), remote: true) %>
  </p>
<% end %>